.wrapper{
    width: 80%;
    background-color: #435C70;
    margin: 40px auto;
    padding: 20px 40px;
  
}

.heading {
    color: #fff;
    font-family: sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: sans-serif;
}

.label{
    color: #fff;
    padding-bottom: 10px;
    font-family: sans-serif;
}

.select{
    padding: 14px;
    background-color: #4E657A;
    color: #fff;
    font-weight: 600;
    font-family: sans-serif;
    letter-spacing: 1.2px;
    border: none;
    outline: none;
}
.option{
    font-size: 14px;
    font-family: sans-serif;
}