*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a.active {
  background-color: #F5A623;
  transition: all .3s;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #6d8da6 #394f62;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #394f62;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #6d8da6;
    border-radius: 0px;
    border: 0px none #ffffff;
  }